SERVER_PORT=3000

POSTGRES_URL=jdbc:postgresql://localhost:5432/hub_db
POSTGRES_USER=hub
POSTGRES_PASSWORD=change-me

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
HUB_JOBS_TOPIC=hub.jobs
HUB_JOBS_TOPIC_PARTITIONS=4
HUB_JOBS_TOPIC_REPLICAS=1

HUB_UI_JWT_SECRET=change-me-ui-jwt-secret-local-at-least-32-bytes
HUB_EXTERNAL_JWT_SECRET=change-me-external-jwt-secret-local-at-least-32-bytes
HUB_UI_JWT_EXPIRY_MS=86400000

# Must be exactly 32 bytess
HUB_AES_SECRET=change-me-32-byte-secret-local!!
