/.gradle
/build
/out
/.idea
*.iml
.env
src/main/resources/application-*.local.yml
srctestjavacombizbeehubHashGenTest.java
src/main/frontend/src/**/*.js
src/main/frontend/dist/
*.log
*.zip
*.tmp
*.bak
